.item-list h3 a{margin-right:12px}
.x-a-c a.active, .item-list h3 a.active{color:#f00;text-decoration:underline;}
.msg-title{
  font-weight:bold;
}
.msg-body{
  border:1px solid #ccc;
  padding:2px 4px;
}
.item-list h3 a{
	margin-right:12px
}
.item-list h3 a.active{
	color:#f00;
	text-decoration:underline;
}
#qianbaoinfo th a{
	padding:0 4px;
}
#haoyou_view .form-submit{
	height:30px
}
#haoyou_view li{
  list-style-position:outside;
  list-style-type:none;
}

a.haoyou_del_ok{
	border:1px solid #ccc;
	padding:3px 10px;
	margin-left:12px
}
a.haoyou_del_ok:hover{
	background:#0F0A7C;
	color:#fff
}

#haoyou_view li{
	background:none;
	padding:0;
	margin:2px 0;
}
.haoyou_list li a{
	padding:0 4px
}
.haoyou_gid_name, .user_action_more, .user_action_more{
	position: relative;
	padding:6px 4px; 
	margin-right:12px;
	background:url(img/down.gif) no-repeat center right
}

.haoyou_down_up{
	background:url(img/up.gif) no-repeat center right;
}

.haoyou_gid_title{
	padding:4px 0;
	border:1px solid #ccc;
	width:180px
}

.haoyou_gid_name{
	cursor:pointer;
	padding:6px 12px;
}

.haoyou_action{
	border:1px solid #bbb;
	padding:6px 0 6px 10px;
	margin:5px 0;
}
.zindex{
	z-index:1000
}
#haoyou_view .user_action_list{
	left:0;
	top:18px;
	border:1px solid #ccc;
	padding:8px 0;
	text-align:center;
	background:#fff;
}
.user_action_more .user_action_list a{
	display:block;
}
.haoyou_list li .haoyou_not_line a{
	color:#A8A8A8
}
.haoyou_list li .haoyou_on_line a{
	color:#0D2C9D
}

#haoyou-add-form input{
	height:20px;
}

#haoyou-add-form div, #haoyou-add-form label{
	display:inline
}
#haoyou-add-form #edit-msg-wrapper{
	display:block
}
/**/
#iframe_box{
	position: fixed;
	border:5px solid #818686;
	z-index:1000;
	filter:alpha(opacity = 75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	overflow: hidden;
	height: auto;
}
#iframe_content{
	background:#fff;
}

#iframe_title{
	height:25px;
  font-size:16px; 
  color:#294D05;
	background:#D4EBFA;
}

.iframe_close{
	padding-right:12px;
  text-align:right
}
/*user info*/
#user_action_info{
  font-size:12px;
}
.user_action_info{
	position: relative;
	padding:3px 6px 6px 0; 
	background:url(img/down.gif) no-repeat center right
}
.user_action_list{
	display:none;
	position:absolute;
	left:-20px;
	top:17px;
	border:1px solid #ccc;
	padding:8px 0;
	width:140px;
	text-align:center;
	background:#fff;
}
.user_action_list a{
  padding:3px;
}
/*
*/
#xiaoxi-msg-form div, #xiaoxi-msg-form label{display:inline}
#xiaoxi-msg-form #edit-body-wrapper, #xiaoxi-msg-form #edit-body-wrapper div, #xiaoxi-msg-form #edit-body-wrapper label{display:block}
#xiaoxibox {margin:12px 0}
#xiaoxibox td,#xiaoxibox th {padding-left:8px;}
.f00{color:#f00}
.xiaoxititle {padding-right:12px;}
.red, a.red:link{color:#f00}
.ccc, a.ccc:link{color:#ccc}
#cmsns-xiaoxi-msg-lists #edit-submit, #cmsns-xiaoxi-msg-form #edit-submit{
  padding:3px 12px;
  line-height:22px;
}